<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Gestion de projets</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="config.js"></script>
    <script type="application/javascript" src="readCookie.js" defer></script>
    <script type="application/javascript" src="manageproject.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>

<body class="container">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Gérer mon projet</h1>
        </div>
    </section>

    <div class="row">
        <div class="col-sm-6">
            <h3>Developpeurs :</h3>
        </div>
        <div class="col-sm-6">
            <h3>Clients :</h3>
        </div>
        <div id = "devs" class="col-sm-6">
        </div>
        <div id="clients" class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <input type="text" name="developpeur" class="form-control" id="developpeur" placeholder="Ajouter un developpeur">
        </div>
        <div class="col-sm-6">
            <input type="text" name="client" class="form-control" id="client" placeholder="Ajouter un client">
        </div>
        <div class="col-sm-6">
        <p style="text-align: center;"></br><button type="button"id="saveDeveloppeur" class="btn btn-primary">Sauvegarder</button></p>
        </div>
        <div class="col-sm-6">
        <p style="text-align: center;"></br><button type="button" id="saveClient" class="btn btn-primary">Sauvegarder</button></p>
        </div>
    </div>
    <p style="text-align: center;"><a type="button" id="cancel" class="btn btn-secondary">Annuler</a></p>
</body>

</html>
